@import "normalize"
@import "whitespace-reset"

$news: "News Cycle", sans-serif

a
  text-decoration: none
  color: #424547
  &:hover
    transition: all 300ms
  &:visited
    color: #424547

html
  font-size: 100%

body
  color: #424547
  border-top: 20px solid #364755
  text-align: center
  font-family: $news
  background: lighten(#3B4C5A, 70%)

main
  padding: 2rem 0
  margin: 0 auto
  width: 80%
  max-width: 1600px
  box-sizing: border-box
  header
    padding: 0 0 2rem
    box-sizing: border-box
    display: flex
    justify-content: space-between
    > h1
      color: darken(#424547, 5%)
      font-size: 1.5rem
      font-weight: normal
      letter-spacing: 5px
      text-transform: uppercase
      text-align: left
      display: inline-block
      flex: 0 1 auto
    .session
      line-height: 2.2
      vertical-align: middle
      a
        color: #FE8A8A
        &:hover
          color: saturate(#FE8A8A, 10%)
      a
        color: lighten(#000, 40%)
        border: 1px solid lighten(#000, 40%)
        padding: .3rem 1rem .7rem
        box-sizing: border-box
        &:hover
          color: #000
          border-color: #000
        &.signout
          margin-left: 1rem

#messagesDiv
  color: #292929
  font-size: 1.1rem
  text-align: left
  background: white
  border: 1px solid lighten(#3B4C5A, 60%)
  height: 50rem
  overflow: auto
  box-sizing: border-box
  div
    padding: .5rem 1rem
    em
      color: #FE8A8A
      font-size: .8rem
      font-weight: bold
      font-style: normal
      display: block
    + div
      border-top: 1px solid lighten(#3B4C5A, 60%)

form
  background: #364755
  padding: 1rem
  box-sizing: border-box
  display: flex
  space-between: justify-content
  #messageInput
    color: #364755
    font-size: 1rem
    background: lighten(#364755, 70%)
    border: 0
    padding: .2rem .8rem .5rem
    width: 100%
    box-sizing: border-box
    &:focus
      color: lighten(#000, 30%)
      background: lighten(#364755, 75%)
      outline: none
      transition: all 500ms
  button[type="submit"]
    color: #fff
    font-size: 1.2rem
    background: saturate(#FE8A8A, 40%)
    padding: .2rem 1rem .8rem
    border: 0
    &:hover
      background: saturate(#FE8A8A, 60%)
      transition: all 500ms
    &:focus
      outline: none